<body>
  <section>
    <div class="form-box">
      <div class="form-value">
        <form>
          <h2>Sign Up</h2>
          
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="inputbox">
              <ion-icon name="mail-outline"></ion-icon>
              <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email" %>
            </div>

            <div class="inputbox">
              <ion-icon name="lock-closed-outline"></ion-icon>
              <% if @minimum_password_length %>
              <em><% @minimum_password_length %></em>
              <% end %>
              <%= f.password_field :password, placeholder: "Password", autocomplete: "new-password" %>
            </div>

            <div class="inputbox">
              <ion-icon name="lock-closed-outline"></ion-icon>
              <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", autocomplete: "new-password" %>
            </div>

            <button>Sign Up</button>
          <% end %>

          <div class="register">
            <p>Already have an account? <%= link_to "Log In", new_session_path(resource_name) %></p>
          </div>
        </form>
      </div>
    </div>
  </section>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>