<%= form_for @contact ,html: { multipart: true } do |f| %> 
      <% if @contact.errors.any? %>
              <h3>Correct this following errors:</h3>

              <ul>
                <% @contact.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>

      <% end %>
          

              <%= f.label :name, class: "control-label col-md-3" %>
              <%= f.text_field :name, class: "form-control" %>                

            
              <%= f.label :mobile, class: "control-label col-md-3" %>               
              <%= f.phone_field :phone, class: "form-control" %>

              <%= f.label :email, class: "control-label col-md-3" %>               
              <%= f.email_field :email, class: "form-control" %>                

              <%= f.label :address, class: "control-label col-md-3" %>               
              <%= f.text_area :address, class: "form-control" %>                
    
            
              <button type="submit">Save</button>
              <%= link_to "Cancel", contacts_path %>
    
  <% end %>
