<h2>Add Contact</h2>

  <%= form_for @contact ,html: { multipart: true } do |f| %>          
      
      <% if @contact.errors.any? %>
              <h3>Correct this following errors:</h3>
              <ul>
                <% @contact.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
      <% end %>


      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Jane Doe" %>
     
      <%= f.label :mobile %>               
      <%= f.phone_field :phone, placeholder: "+91-8377294832" %>
    
      <%= f.label :email %>          
      <%= f.email_field :email, placeholder: "janedoe123@gmail.com" %>        
    
      <%= f.label :address %>
      <%= f.text_area :address, placeholder: "Write Address.." %>

      <%= f.label :image %>
      <%= f.file_field :image %>
  
      <button type="submit">Save</button>
      <%= link_to "Cancel", contacts_path %>              
    
  <% end %>