<% if !flash[:notice].blank? %>
    <div>
    <%= flash[:notice] %>
    </div>
<% end %>
  <h4>All Contacts</h4>
  <h4><%= link_to "+ New Contact", new_contact_path %></h4>

  <div class="flex justify-center">
    <%= render partial: "search/form", locals: { results: [] } %>
  </div>

  <%= render "contacts/contacts", contacts: @contacts %>

<%= will_paginate(@contacts) %>