<body>
  <section class="design">
    <div class="form-box">
      <div class="form-value">
        <form>
          <h2>Login</h2>
          
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="inputbox">
              <ion-icon name="mail-outline"></ion-icon>
              <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email" %>
            </div>

            <div class="inputbox">
              <ion-icon name="lock-closed-outline"></ion-icon>
              <%= f.password_field :password, placeholder: "Password", autocomplete: "current-password" %>
            </div>

            <div class="forget">
              <label>
              <% if devise_mapping.rememberable? %>
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
              <% end %>
              </label>
              <%= link_to "Forgot Password", new_password_path(resource_name) %>
            </div>

            <%= f.button "Log In", type: "submit" %>
          <% end %>

          <div class="register">
            <p>Don't have an account? <%= link_to "Sign Up", new_registration_path(resource_name) %></p>
          </div>

        </form>
      </div>
    </div>
  </section>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
