<!DOCTYPE html>
<html>
  <head>
    <title>ContactBook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <head>
    <%= render 'layouts/navbar' %>
  </head> 
    
    <%= yield %>
  </body>
  <footer>
    <p> &copy; 2023 Developed by <i class="fa fa-heart" style="color:red"></i>&nbsp;Tarinee Prasad</p>
  </footer>
</html>